# Compose tarafindan saglanan degiskenler (dokumantasyon amacli)
ConnectionStrings__Default=Host=campaign-db;Port=5432;Database=campaign_db;Username=campaign_user;Password=CHANGE_ME
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=campaigncell
RABBITMQ_PASSWORD=CHANGE_ME
