# Compose tarafindan saglanan degiskenler (dokumantasyon amacli)
ConnectionStrings__Default=Host=identity-db;Port=5432;Database=identity_db;Username=identity_user;Password=CHANGE_ME
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=campaigncell
RABBITMQ_PASSWORD=CHANGE_ME
